.container {
    display: table;
}

.centered {
    display: table-cell;
    height: 400px;
    width: 800px;

    text-align: center;
    vertical-align: middle;
}
.baccck__btn{
    background-color: skyblue;
    color: white !important;
}